.container{
  width: 100vw;
  height: 200px;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;

    .container-center{
    width: 70%;
    height: 80%;
    display: flex;
    color: white;
      
      .left{
        height: 100%;
        width: 30%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
          
          img{
            height: 15px;
          }
        }
        p{
          font-size: 10px;
        }
       }
       .center{
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        margin: 0 100px;
        div{
          width: 100%;
          div:first-child{
            margin-left: 10px;
          }
          div:last-child{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
              display: flex;
              justify-content: center;
              padding: 10px;
              margin: 5px;
              border: 1px solid white;
              border-radius: 10px;
            }
          }
        }
        
       }
      .right{
        height: 100%;
        width: 50%;
        div{
          #input-footer{
            width: 300px;
            height: 30px;
          }
        }
        *{
          margin-bottom: 10px;
        }
      }
      
    }
   
}  
