.container-header{
    width: 100vw;
    height: 500px;
    color: white;
  }

.container-center-top-header{
    width: 70%;
    height: 80%;
    display: flex ;
    justify-content: space-between;
}

.top-header{
  height: 30%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;

  .container-center-top-header{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div{
          height: 50%;
          width: 100%;
          display: flex;
          align-items: center;

          #icon-top-header{
            margin-right: 5px;
          }
        }



        #home-logo {
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          background-size: cover;
          img{
            height: 15px;
          }
        }
        
      }
      .right{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #top-right{
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          div:last-child{
            margin-left: 150px;
          }
        }

        #bottom-right {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          height: 50%;
          width: 100%;
          div{
            ul {
              display: flex;

              li{
                list-style: none;
                margin: 0 5px;

              }
            }
          }
          
        }
        
      }
    }

}

.bottom-header{
  height: 70%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

    #icon-phone-round{
      background-color: white;
      padding: 10px 10px;
      border-radius: 50px;
      position: absolute;
      left: 0;

    }

    .container-center{
      display: flex;
      justify-content: flex-start;
        
        .only-left{
          height: 80%;
          width: 50%;

          * {
            margin: 10px 0;
          }


          .bottom-header-button{
            display: flex;
            button{
              margin-right: 10px;
            }
            #btn-header-learn-more{
              padding: 5px 30px;
              background-color: rgba(0, 0, 0, 0);
              color: white;
              border-radius: 5px;
              border-color: white;
            }
          }
        }

    }

}




