// our service
.container-our-services{
    width: 100vw;
    height: 500px;
  }

.container-center{
  width: 70%;
  height: 80%;
  div{
    h2{
      text-align: center;
    }
  }
  
}

.top-our-services{
  height: 30%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-end;

    .container-center{
      display: flex;
      justify-content: center;
      align-items: center;      

    }

}

.bottom-our-services{
  height: 70%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: flex-start;

    .container-center{
      display: flex;
      justify-content: space-between;
      

      .left{
        min-height: 100%;
        width: 30%;
        margin-right: 30px;
        h3{
          margin: 10px 0;
        }
        #OS-left-list{
          margin: 10px 10px;
          div{
            margin: 10px 0;
          }
        }
      }
      .right{
        height: 100%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
          div{
            height: 50%;
            width: 50%;
            *{
              margin: 5px 0;
            }
          }
      }
    }
}

// play and learn 

.container-play-and-learn{
    width: 100vw;
    height: 400px;

    .top-play-and-learn{
      height: 50%;
      width: 100%;
      display: flex;


      div {
        height: 100%;
        width: calc(100% / 4);
        img{
          height: 100%;
          width: 100%;
          background-size: contain;
        }

      }
    }

    .bottom-play-and-learn{
      height: 50%;
      width: 100%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFCD18;

      .container-center{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left{
          height: 100%;
          width: 15%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
        .center{
          height: 100%;
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }
        .right{
          height: 100%;
          width: 15%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
}

// courses

.container-courses{
  width: 100vw;
  height: 700px;

  .top-courses {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .container-center{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      h1{
        text-align: center;
      }
    }
    
  }

  .center-courses{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
      .container-center{
        display: flex;
        justify-content: space-between;
        .left, .center, .right{
          border: 2px solid #e8e8e8;
          height: 100%;
          width: calc(100% / 3.5);
          .img-card-courses{
            height: 40%;
            width: 100%;
            img{
              height: 100%;
              width: 100%;
              background-size: cover;
            }
          }
          .text-card-courses{
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: center;
            div{
              margin: 10px 30px;
              #btn-courses-card{
                display: flex;
                justify-content: center;
                align-items: center;
              }

              *{
                text-align: center;
                margin: 10px 0;
              }
            }
          }
        }
      }
  }

  .bottom-courses{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .container-center{
      display: flex;
      justify-content: center;
    }
      
  }
}

// take the first step

.container-take-the-first-step{
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-center{
    display: flex;
    justify-content: center;
    align-items: center;
    .left, .right{
      color: white;
      height: 50%;
      width: calc(50%);
      display: flex;
      align-items: center;
      #btn-take-the-first-step{
        margin-left: 300px;
      }
    }
  }
}

// our events

.container-our-events{
  width: 100vw;
  height: 600px;

  .top-our-events{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  
      .container-center{
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  .bottom-our-events{
    height: 90%;
    display: block;
    display: flex;
    justify-content: center;

    .container-center{
      flex-wrap: wrap;

      .first-row, .second-row{
        height: 50%;
        width: 100%;
        display: flex;
        margin-bottom: 30px;

          .left{
            height: 100%;
            width: 30%;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
        }
          .center{
          height: 100%;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 20px;
      }
          .right{
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
      }
    }
  }
}

// latest news

.container-latest-news{
  width: 100vw;
  height: 250px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-center{

    .left{
      height: 100%;
      width: calc(100% / 3);
      background-color: aqua;
    }
    .center{
      height: 100%;
      width: calc(100% / 3);
      background-color: gray;
    }

    .right{
      height: 100%;
      width: calc(100% / 3);
      background-color: lightcoral;
    }
  }
}